@import '~react-md/src/scss/react-md';
$md-primary-color: $md-purple-500;
$md-secondary-color: $md-purple-200;
$md-tertiary-color: $md-purple-100;

.main-container,
.darker-background {
        background-color: #e1e2e1;
}

a:link {
   color: $md-primary-color;
    text-decoration: none;
}
